doctype html
include mixins/feedElement

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type="text/css", href='/css/styles.css')
    title Document
  body
    .container
      form.form(action=`/scrape/` method='POST')
        label.description(for='searchqueries') Type in a racket brand/name
        .input-submit
          input(type='text', name="searchqueries", id='searchqueries', placeholder='search..')
          button(type='submit') Find rackets!

      if data !== undefined
        .feed-container
          each brand in data
            each val, index in brand
              +feedElement(brand, index)

      //- .feed-container
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
      //-   .feed-element
      //-     img(src='', alt='', data-id='1')
