extends index

block dynamicContent
  .feed
    form.form.form__login(action=`/login` method='POST')
      //- if messages.error
      //-   .flash-messages
      //-     span.flash.flash__success #{flashes.authSuccess[0]}
      if locals.flashes.authSuccess
        .flash-messages
          span.flash.flash__success #{flashes.authSuccess[0]}
      else if locals.flashes.authError
        .flash-messages
          span.flash.flash__error #{flashes.authError[0]}
      h1 Login
      .form__login-container
        label.form__description.form__login-description(for='username') Username
        input.form__input.form__login-input(type='text', name="username", id='username', placeholder='Your username..')
      .form__login-container
        label.form__description.form__login-description(for='password') Password
        input.form__input.form__login-input(type='text', name="password", id='password', placeholder='Your password..')
      button.form__button.form__login-button(type='submit') Login
