extends index

block dynamicContent
  .feed
    form.form.form__login(action=`/register` method='POST')
      if locals.flashes.authError
        .flash-messages
          span.flash.flash__error #{flashes.authError[0]}
      h1 Registrieren
      .form__login-container
        label.form__description.form__login-description(for='username') Username
        input.form__input.form__login-input(type='text', name="username", id='username', placeholder='Your username..')
      .form__login-container
        label.form__description.form__login-description(for='password') Password
        input.form__input.form__login-input(type='text', name="password", id='password', placeholder='Your password..')
      .form__login-container
        label.form__description.form__login-description(for='passwordConfirm') Confirm Password
        input.form__input.form__login-input(type='text', name="passwordConfirm", id='passwordConfirm', placeholder='Confirm password..')
      button.form__button.form__login-button(type='submit') Sign up!