extends index

include mixins/feedElement

block dynamicContent
  if data
    span.search-result-text Found #{totalItems} rackets
    .feed
      each brand in data
        each val, index in brand
          +feedElement(brand, index)