@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');

:root {
  --color-accentblue: rgb(38, 47, 56);
  --color-cardblue: rgb(32, 40, 49);
  --color-bgblue: rgb(28, 35, 44);
  --color-darkblue: rgb(14, 21, 27);

  --boxshadow-nav: 
    2px 2px 2px 2px rgba(0, 0, 0, 0.055),
    2px 2px 4px 2px rgba(0, 0, 0, 0.068),
    2px 4px 8px 2px rgba(0, 0, 0, 0.102),
    2px 4px 10px 2px rgba(0, 0, 0, 0.144);
  --boxshadow-light: 0 0 5px 0px rgba(84, 97, 112, 0.075); 
  --boxshadow-card: 0 0 2px 1px rgba(164, 188, 219, 0.233); 
}

* {
  margin: 0;
  padding:  0;
  border: none;
  text-decoration: none;
  /* filter: invert(0.2); */
  /* letter-spacing: 0.2px; */
  line-height: 1.5rem !important;
}

input:focus, button:focus {
  outline: none;
}

body {
  box-sizing: border-box;
  background-color: var(--color-bgblue);
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: center;
}

#noTransitionsOnLoad {
  transition: none !important;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------------FLASHES------------------------ */

.flash-messages {
  position: absolute;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-darkblue); */
  border-radius: 4px;
  top: 20px;

  transition: opacity 0.3s ease-out;
}

.flash {
  color: white;
  text-align: center;
}
.flash__success {
  color: rgb(85, 211, 106);
}
.flash__error {
  color: rgb(187, 70, 70);
}


/* --------------------------scrape form-------------------------- */
.nav {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav__list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  height: auto;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(var(--color-accentblue), var(--color-cardblue) );
  box-shadow: var(--boxshadow-nav);
  margin: 0 0.25rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.nav__link:hover {
  background: linear-gradient(var(--color-accentblue), var(--color-bgblue) );
  box-shadow: none;
}

.nav__element {
  padding: 1.7rem 1.4rem;
  list-style-type: none;
  color: white;
  transition: padding 0.3s;
  /* min-width: 60px; */
  /* text-align: center; */
}

.nav__element:hover {
  padding: 1.9rem 1.4rem;
}

.nav__element--open {
  padding: 1.9rem 1.4rem;
}


/* -----------------------SEARCHFORM---------------- */

.form {
  margin-top: 10rem;
  color: white;
  background-color: var(--color-darkblue);
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 8px;
  font-size: 1.1rem;
  box-shadow: var(--boxshadow-light);
}

.form__login {
  justify-self: center;
  margin: 0;
  padding: 2rem;
  width: 50%;
  align-items: center;
  box-shadow: none;
}

.form__login-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.form__submit {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.form__input {
  border-radius: 4px;
  padding: 0.5rem 0.75rem 0.55rem;
  font-size: 1rem;
  margin-right: 2.5rem;
  box-shadow: inset 0 0 10px 2px rgb(197, 197, 197);
}

.form__login-input {
  margin: 0.8rem 0 0;
}

.form__login-description {
  margin-top: 1.2rem;
  color: rgb(238, 238, 238);
  /* text-align: center; */
}

.form__button {
  background-color: rgb(240, 240, 240);
  color: black;
  border-radius: 4px;
  box-shadow: 1px 2px 6px 1px rgb(0, 0, 0);
  padding: 0.5rem 0.75rem 0.55rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.form__login-button {
  margin-top: 2rem;
  min-width: 150px;
}

.form__button:active {
  /* transform: scale(0.99); */
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.192);
  /* border: 1px solid rgba(0, 0, 0, 0.315); */
}

/* ---------------------------------feed------------------------------------ */

.search-result-text {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-bgblue);

  color: white;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: -4rem;
  padding: 0.3rem 1rem;
  min-width: 40px;
  text-align: center;
}

.search-result-text::after {
  content: '';
  position: relative;
  z-index: -1;
  align-self: center;
  top: -30%;
  width: 300%;
  height: 1px;
  background-color: rgb(180, 180, 180);
}

.feed {
  position: relative;
  width: 100%;
  background-color: var(--color-darkblue);
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(450px, 1fr)); */
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 6rem;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: var(--boxshadow-light);
}


.feed-element {
  position: relative;
  background-color: var(--color-cardblue);
  color: rgb(240, 240, 240);
  box-shadow: var(--boxshadow-card);
  border-radius: 4px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 70%;
  grid-template-areas:
    'heading heading'
    'image specs';
  justify-items: center;
  align-content: flex-start;
  padding: 0 1.5rem;
  padding-bottom: 30px;
  column-gap: 1rem;
  transition: background-color 0.1s;
  cursor: pointer;
}

.feed-element:hover {
  background-color: var(--color-bgblue);
}

.feed-element--active {
  z-index: 2;
  position: absolute;
}

.racketName {
  grid-area: heading;
  color: white;
  margin: 1.5rem 0 2rem;
  letter-spacing: 0.4px;
}

.racketPicture {
  grid-area: image;
  max-width: 100%;
  border-radius: 4px;
  border: 4px solid white;
}

.specsContainer {
  grid-area: specs;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: none;
  font-size: 0.95rem;
}

.specText {
  position: relative;
  display: flex;
  padding: 0.33rem 0;
  max-width: 450px;
}

.specText::after {
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.144);
  content: '';
  width: 100%;
  height: 1px;
}

.specText:nth-child(2n) {
  color: rgb(180, 180, 180);
}

.racketSpec:nth-child(2n-1) {
  white-space: nowrap;
  /* margin-right: 1rem; */
}

.racketSpec:nth-child(2n) {
  max-width: 60%;
  /* white-space: nowrap; */
  margin-left: auto;
  text-align: right;
}

.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav__icon {
  position: absolute;
  z-index: 5;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 1.35rem;
  background-color: transparent;
}

.fav__icon-path {
  stroke: rgb(180, 180, 180);
  fill: rgb(180, 180, 180);
}

.fav__icon:hover .fav__icon-path{
  fill: white;
  stroke: white;

}

/* error feed */

.feed__error {
  margin: 2rem 0;
  color: white;
  min-width: 50%;
  justify-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.feed__error-message {
  margin-top: 1rem;
}

.form__button--error {
  display: inline-block;
  margin: 1rem;
  border: none;
}
