mixin feedElement(data = {}, i)
  .feed-element
    h3.racketName= data[i].racketName
    img.racketPicture(src=`${data[i].racketPictureLink}`)
    .specsContainer
      if data[i].racketSpecs === "Not available"
        .specText
          span.racketSpec Not available
      else
        each val, key in data[i].racketSpecs
          .specText
            span.racketSpec= key
            span.racketSpec= val